@model IEnumerable<UFRSET.Models.Vacataire>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomVacataire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomVacataire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departement.DepartementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VacataireId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VacataireId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VacataireId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
